# ps_eor
astropy<5.2,>=5.1
dask_mpi
h5py>=3.7.0,<3.8
healpy
ipykernel
jupyterlab
matplotlib>=3.6.3,<3.7
notebook
numexpr==2.10.2
numpy>=1.23.5,<1.24
pandas>=1.5.3,<1.6
pytest
pyuvdata<=2.4.1
pyvo
rascil==1.0.0
requests
scipy>=1.9.3,<1.10
tqdm